<nav>
  <div class="logo">CLEVER LEARNING</div>
  <button class="navbar-toggler" (click)="toggleMenu()">☰</button>
  <ul [class.active]="menuActive">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/portfolio">Portfolio</a></li>
    <li><a routerLink="/pricing">Pricing</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  <button class="get-started">Get Started</button>
</nav>
