.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 4rem;
  margin: 0;
  display: flex;
  overflow: hidden;
  position: relative;
}

h1 .char {
  display: inline-block;
  position: relative;
  animation: moveAndHide 8s linear infinite; /* Adjusted timing */
}

h1 .learning {
  color: orange;
}

p {
  background-color: #f00;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 20px;
}

@keyframes moveAndHide {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Fire effect inside each letter */
h1 .char::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 68, 0, 0.906),
    rgba(255, 77, 0, 0.849),
    rgba(255, 77, 0, 0.8),
    rgba(255, 0, 0, 0.8)
  );
  background-size: 200% 200%;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  animation: fireFlicker 1s infinite alternate;
}

h1 .char:hover::before {
  opacity: 1;
}

@keyframes fireFlicker {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}
